In [ ]:
tup1=("apple","banana","kiwi","mango","cherry")
print(tup1)     #1

('apple', 'banana', 'kiwi', 'mango', 'cherry')

In [ ]:
tup2=(1,"apple",4.5, True)
print(tup2)     #2

(1, 'apple', 4.5, True)

In [ ]:
tup3=(("India", "USA", "UK"),("Maharashtra","Florida","London"))
print(tup3)     #3

(('India', 'USA', 'UK'), ('Maharashtra', 'Florida', 'London'))

In [ ]:
print(tup1[-1])     #4

cherry

In [ ]:
print(tup1[:3])     #5

('apple', 'banana', 'kiwi')

In [ ]:
students=("John", "Alice", "Bob", "Diana", "Eve")
print(len(students))        #6

5

In [18]:
marks=(85, 90, 78, 92, 88, 85, 95, 85)
print("Max:",max(marks))        #7

print("Min:",min(marks))        #7

print("Sum:",sum(marks))        #8

print(tuple(sorted(marks)))       #9

print(tuple(sorted(marks, reverse=True)))       #10

print(marks.count(85))          #11

print(marks.index(88))          #12

Max: 95
Min: 78
Sum: 698
(78, 85, 85, 85, 88, 90, 92, 95)
(95, 92, 90, 88, 85, 85, 85, 78)
3
4

In [19]:
print("Is banana is tup1?","banana" in tup1)    #13

print("Is grape not present in tup1?","grape" not in tup1)    #14

Is banana is tup1? True
Is grape not present in tup1? True

In [20]:
tup4=tuple(range(1,11))
print(tup4)       #15

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [21]:
tup5=(0,0,0)
print("Any value is True?",any(tup5))   #16

print("All values are True?",all(tup5))  #17

Any value is True? False
All values are True? False

In [22]:
first_name=("Aryan")
last_name=("Sharma")
full_name=first_name + " " + last_name
print(full_name)    #18

Aryan Sharma

In [23]:
tup6=("AI","ML")
print(tup6 * 3)    #19

('AI', 'ML', 'AI', 'ML', 'AI', 'ML')

In [25]:
name=("Alice", "Bob", "Charlie")
scores=(85, 90, 78)
combined=tuple(zip(name, scores))
print(combined)    #20

(('Alice', 85), ('Bob', 90), ('Charlie', 78))

In [ ]:
print(tuple(reversed(tup1)))   #21

('cherry', 'mango', 'kiwi', 'banana', 'apple')

In [ ]:
print("First Element:",min(tup1))   #22

print("Last Element:",max(tup1))    #22

First Element: apple
Last Element: mango

In [ ]:
info=("Aryan", 20, "Engineer", "India")
name, age, profession, country = info
print("Name:", name)
print("Age:", age)      
print("Profession:", profession)
print("Country:", country)    #23

Name: Aryan
Age: 20
Profession: Engineer
Country: India

In [30]:
tup2[0]="orange"  # This will raise a TypeError because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [42]:
import sys
a=(1,2,3,4,5)
b=[1,2,3,4,5]
print(sys.getsizeof(a))
print(sys.getsizeof(b))  #25

80
104

In [33]:
marks=(85, 90, 78, 92, 88, 85, 95, 85,78,98)
print("Average:",sum(marks)/len(marks))  #26

Average: 87.4

In [ ]:
city=("Pune", "Mumbai", "Banglore","jaipur","Chennai")
print(city[::-1])   #27

('Chennai', 'jaipur', 'Banglore', 'Mumbai', 'Pune')

In [37]:
l1=list(marks)
print(l1)

l1.append(100)

t1=tuple(l1)
print(t1)   #28

[85, 90, 78, 92, 88, 85, 95, 85, 78, 98]
(85, 90, 78, 92, 88, 85, 95, 85, 78, 98, 100)

In [38]:
employee=("Rohan",28,"IT")
name, age, department=employee
print("Name:",name)
print("Age",age)
print("Department:",department)  #29

Name: Rohan
Age 28
Department: IT

In [43]:
p_name=("Laptop","Smartphone","Tablet","Smartwatch")
prices=(1000, 800, 600, 400)
product_prices=tuple(zip(p_name, prices))
sor=sorted(product_prices, key=lambda x: x[1], reverse=True)
print(sor)   #30

[('Laptop', 1000), ('Smartphone', 800), ('Tablet', 600), ('Smartwatch', 400)]