In [ ]:
# 1. Create a tuple named 'fruits' containing five fruit names and print it.
tup1=("apple","banana","kiwi","mango","cherry")
print(tup1)     #1

('apple', 'banana', 'kiwi', 'mango', 'cherry')

In [ ]:
# 2. Create a tuple with mixed data types (string, integer, float, boolean) and display each element using indexing.
tup2=(1,"apple",4.5, True)
print(tup2)     #2

(1, 'apple', 4.5, True)

In [ ]:
# 3. Create a nested tuple that stores a country name and its states as another tuple.
tup3=(("India", "USA", "UK"),("Maharashtra","Florida","London"))
print(tup3)     #3

(('India', 'USA', 'UK'), ('Maharashtra', 'Florida', 'London'))

In [ ]:
# 4. Access the last element of a tuple using negative indexing.
print(tup1[-1])     #4

cherry

In [ ]:
# 5. Slice a tuple to print only the first three elements.
print(tup1[:3])     #5

('apple', 'banana', 'kiwi')

In [ ]:
# 6. Use len() to find the number of elements in a tuple named 'students'.
students=("John", "Alice", "Bob", "Diana", "Eve")
print(len(students))        #6

5

In [ ]:

marks=(85, 90, 78, 92, 88, 85, 95, 85)

# 7. Use max() and min() to find the highest and lowest marks from a tuple of integers.
print("Max:",max(marks))        #7
print("Min:",min(marks))        #7

# 8. Use sum() to calculate the total sales from a tuple of daily sales data.
print("Sum:",sum(marks))        #8

# 9. Sort a tuple of numbers in ascending order using sorted() and convert it back to a tuple.
print(tuple(sorted(marks)))       #9

# 10. Sort a tuple of numbers in descending order using sorted() with reverse=True.
print(tuple(sorted(marks, reverse=True)))       #10

# 11. Count how many times a specific value appears in a tuple using the count() method.
print(marks.count(85))          #11

# 12. Find the index of a specific element in a tuple using the index() method.
print(marks.index(88))          #12

Max: 95
Min: 78
Sum: 698
(78, 85, 85, 85, 88, 90, 92, 95)
(95, 92, 90, 88, 85, 85, 85, 78)
3
4

In [ ]:
# 13. Check if "Python" is present in a tuple using the 'in' keyword.
print("Is banana is tup1?","banana" in tup1)    #13

# 14. Check if "C++" is not present in a tuple using the 'not in' keyword.
print("Is grape not present in tup1?","grape" not in tup1)    #14

Is banana is tup1? True
Is grape not present in tup1? True

In [ ]:
# 15. Create a tuple from a range of numbers 1 to 10 using the tuple() and range() functions.
tup4=tuple(range(1,11))
print(tup4)       #15

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
tup5=(0,0,0)
# 16. Use any() on a tuple of boolean values to check if at least one element is True.
print("Any value is True?",any(tup5))   #16

# 17. Use all() on a tuple of boolean values to check if all elements are True.
print("All values are True?",all(tup5))  #17

Any value is True? False
All values are True? False

In [ ]:
# 18. Concatenate two tuples representing first names and last names.
first_name=("Aryan")
last_name=("Sharma")
full_name=first_name + " " + last_name
print(full_name)    #18

Aryan Sharma

In [ ]:
# 19. Repeat a tuple containing ("AI", "ML") three times using the * operator.
tup6=("AI","ML")
print(tup6 * 3)    #19

('AI', 'ML', 'AI', 'ML', 'AI', 'ML')

In [ ]:
# 20. Combine two tuples (names and scores) using zip() and convert the result into a tuple.
name=("Alice", "Bob", "Charlie")
scores=(85, 90, 78)
combined=tuple(zip(name, scores))
print(combined)    #20

(('Alice', 85), ('Bob', 90), ('Charlie', 78))

In [ ]:
# 21. Reverse a tuple using the reversed() function and convert it back to a tuple.
print(reversed(tup1))   #21

('cherry', 'mango', 'kiwi', 'banana', 'apple')

In [ ]:
# 22. Find the alphabetically first and last element in a tuple of strings using min() and max().
print("First Element:",min(tup1))   #22

print("Last Element:",max(tup1))    #22

First Element: apple
Last Element: mango

In [ ]:
# 23. Unpack a tuple of three elements into three separate variables and print them.
info=("Aryan", 20, "Engineer", "India")
name, age, profession, country = info
print("Name:", name)
print("Age:", age)      
print("Profession:", profession)
print("Country:", country)    #23

Name: Aryan
Age: 20
Profession: Engineer
Country: India

In [ ]:
# 24. Create a tuple and demonstrate immutability by trying to modify an element (observe the error).
tup2[0]="orange"  # This will raise a TypeError because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 25. Compare the memory size of a list and a tuple containing the same elements using sys.getsizeof().
import sys
a=(1,2,3,4,5)
b=[1,2,3,4,5]
print(sys.getsizeof(a))
print(sys.getsizeof(b))  #25

80
104

In [ ]:
# 26. Create a tuple of 10 numbers and calculate the average using sum() and len().
marks=(85, 90, 78, 92, 88, 85, 95, 85,78,98)
print("Average:",sum(marks)/len(marks))  #26

Average: 87.4

In [ ]:
# 27. Create a tuple of city names and print them in reverse order using slicing.
city=("Pune", "Mumbai", "Banglore","jaipur","Chennai")
print(city[::-1])   #27

('Chennai', 'jaipur', 'Banglore', 'Mumbai', 'Pune')

In [ ]:
# 28. Convert a tuple of numbers into a list, append a new number, and convert it back into a tuple.
l1=list(marks)
print(l1)

l1.append(100)

t1=tuple(l1)
print(t1)   #28

[85, 90, 78, 92, 88, 85, 95, 85, 78, 98]
(85, 90, 78, 92, 88, 85, 95, 85, 78, 98, 100)

In [ ]:
# 29. Create a tuple of employee details (Name, Age, Department) and use unpacking to print each value separately.
employee=("Rohan",28,"IT")
name, age, department=employee
print("Name:",name)
print("Age",age)
print("Department:",department)  #29

Name: Rohan
Age 28
Department: IT

In [ ]:
# 30. Create two tuples — (product_name, price) — and combine them using zip(); then display them sorted by price in descending order.
p_name=("Laptop","Smartphone","Tablet","Smartwatch")
prices=(1000, 800, 600, 400)
product_prices=tuple(zip(p_name, prices))
sor=sorted(product_prices, key=lambda x: x[1], reverse=True)
print(sor)   #30

[('Laptop', 1000), ('Smartphone', 800), ('Tablet', 600), ('Smartwatch', 400)]